body{

margin:0;

height:100vh;

background:linear-gradient(120deg,#141e30,#243b55);

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

color:white;

overflow:hidden;

}

.container{

text-align:center;

background:rgba(255,255,255,0.1);

padding:40px;

border-radius:20px;

backdrop-filter:blur(15px);

box-shadow:0 0 30px rgba(0,0,0,0.5);

animation:float 6s infinite;

}

video{

width:300px;

border-radius:20px;

margin-top:10px;

}

button{

margin-top:20px;

padding:15px 30px;

font-size:18px;

border:none;

border-radius:12px;

background:#ff416c;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.1);

background:#ff4b2b;

}

@keyframes float{

0%{transform:translateY(0px)}

50%{transform:translateY(-10px)}

100%{transform:translateY(0px)}

}

iframe{

margin-top:20px;

border-radius:15px;

border:none;

}